html{
	font-size: 16px;
}

body{
	background-color: #000;
	color: #fff;
	font-family: verdana;
	font-weight: 400;
	display: block;
}

h1{
	font-size: 3.125rem;

}

a{
	color: aquamarine;
	font-size: 1rem;
}

p{
	font-size: 1.3125rem;
	color: gray;
}

img{
	display: block;
}

.hidden-places{
	display: flex;
}

.travel-guide{
	display: flex;
}

.coming-soon{
	display: flex;
}