html{
	font-size: 16px;
}

body{
	background-color: #000;
	color: #fff;
	font-family: verdana;
	font-weight: 300;
	display: block;
}

h1{
	font-size: 3.125rem;
	font-weight: 300;
	margin: 1rem;
}

h2{
	font-size: 42px;
	font-weight: 300;
}

a{
	color: aquamarine;
	font-size: 1rem;
	display: block;
}

p{
	font-size: 1.3125rem;
	color: gray;
}

img{
	display: block;
	margin: 1rem auto;
}

.hidden-places{
	display: block;
	text-align: center;
}

.travel-guide{
	display: block;
	text-align: center;
}

.coming-soon{
	display: block;
	text-align: center;
}

.legal{
	display: flex;
	justify-content: flex-end;
}

footer{
	text-align: center;
}